* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(#03045e, #caf0f8);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}
.father-content {
  margin: 10px;
  padding: 10px;
  max-width: 2400px;
}
.header {
  background-color: #48cae4;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-end;
  border-radius: 30px;
}
h3 {
  text-align: center;
}
.menu {
  /* background: transparent; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 100%; */
}
.logo {
  background: transparent;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;
  height: 100px;
}
.logo img {
  width: 90px;
  background-position: center;
}
.nav {
  /* background: transparent; */
  display: flex;
  flex: 5 1 auto;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}
.nav a {
  text-decoration: none;
  font-size: 30px;
  color: #f0f0f0;
  padding: 2px;
  background-color: #023e8a;
  border-radius: 15px;
  padding: 10px;
}
.nav a:hover {
  background-color: #76c893;
  color: #000;
  transition: 0.5s;
}
.social-links {
  background: #023e8a;
  display: flex;
  justify-content: space-between;
  border-radius: 15px;
  align-items: center;
  height: 50px;
  padding: 30px;
}
.social-links i {
  font-size: 40px;
  color: #f0f0f0;
  border-radius: 9px;
}
.social-links i:hover {
  background-color: #76c893;
  color: #000;
  transition: 0.5s;
}
.texto {
  display: flex;
    background: #4361ee;
  padding: 30px;
  border-radius: 30px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-end;
}
h1 {
  text-align: center;
  font-size: 50px;
}
h1 span {
  color: #f78154;
}
.seccion {
  display: flex;
  justify-content: center;
  min-height: 1000px;
  border-radius: 20px;
}
.articulos {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 100%;
}
.articulo {
  background: #a0c4ff;
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 5px;
  border-radius: 30px;
  align-items: center;
  text-align: center;
}
.articulos h2 {
  text-align: center;
}

.contenido-articulo .article-button {
  display: flex;
  padding: 5px;
  font-size: 15px;
  font-family: "Courier New", Courier, monospace;
  background-color: #f0f0f0;
  border-radius: 10px;
  margin: 5px;
}
.contenido-articulo .article-button:hover {
  background-color: #000;
  color: #f0f0f0;
  transition: 0.5s ease;
}
.navegacion {
  display: flex;
  background: #94d2bd;
  border-radius: 30px;
  border: 1px solid #000;
  margin-top: 15px;
  height: 70px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-end;
}

a {
  text-decoration: inherit;
  color: black;
  font-weight: 500;
}

.navegacion .links-nav a:hover {
  color: #000;
}

.aside {
  background-color: #94d2bd;
  display: flex;
  flex-flow: column nowrap;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23efaa04' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  flex: 1 1 auto;
  align-items: center;
  margin-right: auto;
  border-radius: 20px;
}
.tecnologias .buttons button {
  border-radius: 40px;
  padding: 0;
  background: rgb(16, 15, 15);
}
.tecnologias .buttons button i {
  background: rgb(12, 12, 12);
  color: #99d98c;
  font-size: 30px;
  border-radius: 20px;
}

.perfil-image {
  width: 140px;
  height: 172px;
  border-radius: 55px;
}
.tecnologias {
  background: linear-gradient rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  height: auto;
  margin: 30px;
  width: 70%;
  border-radius: 30px;
}
.tecnologias i {
  font-size: 45px;
}
.lenguajes {
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  border-radius: 30px;
}
.lenguajes i {
  font-size: 45px;
}
.frameworks {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.pie {
  background: linear-gradient(#023e8a, #0000);
  display: flex;
  justify-content: center;
  border-radius: 30px;
  margin-bottom: 15px;
}
h2 {
  background: transparent;
}
.contenido-articulo {
  display: flex;
  flex-flow: column nowrap;
  margin: 20px;
  align-items: center;
}
.contenido-articulo img {
  width: 200px;
  height: 200px;
  /* object-fit: fill; */
}
.contenido-articulo button {
  padding: 10px;
  border-radius: 35px;
  margin: 20px;
}
.links-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 5px;
}
.links-nav ul a {
  text-decoration: none;
  font-size: 25px;
  color: #000;
  padding: 15px;
}

/*responsive settings*/
@media all and (max-width: 900px) {
  /* * {
    margin: 0;
    padding: ;
    box-sizing: border-box;
  } */
  .father-content {
    min-height: 1000px;
    max-width: 1000px;
  }

  .seccion {
    flex-wrap: wrap;
    height: auto;
  }
  .seccion .aside {
    align-items: center;
    margin: 2px;
    order: -1;
  }
  .aside {
    display: flex;
    justify-content: center;
    height: auto;
    align-items: center;
  }
  .aside p {
    display: none;
  }
  .tecnologias {
    display: flex;
    align-items: center;
    height: 350px;
    width: auto;
  }
  .lenguajes {
    height: auto;
    width: auto;
  }
  .frameworks {
    height: 88px;
  }
  .articulo {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }
  .menu {
    flex-direction: column;
    height: 350px;
    justify-content: center;
    align-content: center;
  }
  .nav {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
  }
}

@media all and (max-width: 1310px) {
  .aside p {
    display: none;
  }
  .aside {
    height: auto;
  }
}
