


body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.contenedor{
    width: 100 vw;
    height: 100vh;
    background-colo;
    display: flex;
    flex-flow:column nowrap;
}
header{
    background-color: #000411;
    height: 180px;
}
.brand{
    margin-top: -7px;
}
.brand h1{
    color: #ffff;
    font-size: 35px;
    display: flex;
}
.brand span{
    color: #E1EFE6;
    display: flex;
    justify-content: space-between;
    flex-flow: column nowrap;
}
.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.menu{
    margin: 30px;
    
    margin-top: 20px;
    
}
.menu li{
    list-style: none;
    margin: 20px;
}
.menu .active{
    color:#E1EFE6;
}
.menu a{
    color: #FB3640;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 20px;
    margin-top: 10px;
}
.menu a:hover{
    background-color: #FB3640;
    color: #0A2463;
    transition: ease-in 0.3s;

}
.main{
    background-color: #ffff;
    display: flex;
    width: 300px;
    height: 100vh;
}
.iconos {
 
    display: flex;
    justify-content: space-between;
}
.iconos i{
    color: #FB3640;
    margin: 3px;
    padding: 5px;
    border-radius: 13px;
}
.footer{
    display: flex;
    justify-content: center;
    background-color: #E1EFE6;
    border: 1px solid black;

}
.footer h2{
    text-align: center;
    border: 5px solid black;
}
.left-bar{
    display: flex;
    flex-flow: column nowrap;
    background-color:burlywood;
    border: 1px solid black;
}
.left-bar .jobs{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin-top: 100px;
    padding: 50px;
    background-color: burlywood;
    border: 1px solid black;

}
.buttons{
    display: flex;
    
}
.buttons button{
    margin: 3px;
    background-color: aqua;
    padding: 10px;
    border-radius: 20px;
}
.contenido{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
}
.contenido .cont1{
    padding: 50px;
    border: 1px solid black;

}