/*seteo general*/
*{
    margin: 5px;
    padding: 5px;
    margin-left: 9px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(#03045e,#caf0f8);
}
/*seteo del contenedor padre*/
.father-content{
    width: 100vw;
    height: 90vh;
}
/*seteo de header*/
.header{
    background-color: #48cae4;
    display: flex;
    flex-flow: column nowrap;
    border-radius: 30px;
}
    .menu{
        background: transparent;
        display: flex;
        height: 100px;
        align-items: center;
    }
        .logo{
            background: transparent;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            height: 100px;
        }
        .logo img{
            width: 90px;
            background-position: center;
        }
        .nav{
            background: transparent;
            display: flex;
            flex: 5 1 auto;
            justify-content: space-between;   
            align-items: center;        
            height: 40px;
                }
                .nav a{
                    text-decoration: none;
                    font-size: 30px;
                    color: #f0f0f0;
                    padding: 2px;
                    background-color: #023e8a;
                    border-radius: 15px;
                    padding: 10px;
                }
                .nav a:hover{
                    background-color: #76c893;
                    color: #000;
                    transition: 0.5s;
                }
        .social-links{
            background: #023e8a;
            display: flex;
            justify-content: space-between;
            border-radius: 15px;
            align-items: center;
            flex: 1 1 auto;
            height: 40px;
            padding: 30px;
        }
        .social-links i{
            font-size: 40px;
            color: #f0f0f0;
            border-radius: 9px;
        }
        /*hover social links*/
        .social-links i:hover{
            background-color: #76c893;
            color: #000;
            transition: 0.5s;
        }
        .texto{
            background: #4361ee;
            padding: 30px;
            border-radius: 30px;
        }
        h1{
            text-align: center;
            font-size: 50px;
        }
        h1 span{
            color: #F78154;
        }
/*seteo de seccion con el contenedor padre*/
.seccion{
    background: transparent;
    display: flex;
    height:100vh;
    border-radius: 20px;

    

}
    .articulos{
        background: #023e8a ;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
        border-radius: 20px;
    
    }
        .articulo{
            background:#a0c4ff;
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 30%;
            margin-top:70px ;
            border-radius: 30px;
            align-items: center;
            text-align: center;
        }
            .articulos h2{
                display: flex;
            }
            .contenido-articulo .article-button{
                width: auto;
                display: inline-block;
                padding: 5px;
                font-size: 15px;
                font-family: 'Courier New', Courier, monospace;
                background-color: #f0f0f0;
                border-radius: 10px;
                margin: 5px;
            }
            .contenido-articulo .article-button:hover{
                background-color: #000;
                color: #f0f0f0;
                transition: 0.5s ease;
            }
            /*navegacion de bloque articulos*/
        .navegacion{
            background: #94d2bd;
            border-radius: 30px;
            border: 1px solid #000;
            margin-top: 15px;
            flex: 1 1 100%;
            height: 70px;
            justify-content: center;
        }
        /*aside con contenido devs..*/
        .aside{
            background-color: #94d2bd;
            display: flex;
            flex-flow: column nowrap;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23efaa04' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
            flex:1 1 auto;
            align-items: center;
            margin-rigth: auto;
            border-radius: 20px; 
                }
                .tecnologias .buttons button{
                    border-radius: 20px;
                }
                .tecnologias .buttons button i{
                    background: #f0f0f0;
                    color: #99d98c;
                    font-size: 30px;
                }
            
                
            .eduardo-image{
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 55px;
            }
            .lucas-image{
                width: 200px;
                height: 200px;
                object-fit: cover;
                border-radius: 55px;
            }
        .tecnologias{
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            height: 40%;
            margin: 30px;
            width: 70%;
            border-radius: 30px;
        }
        .tecnologias i{
            font-size: 45px;
        }
        .lenguajes{
            display: flex;
            justify-content: space-between;
            border-radius: 30px;
        }  
        .lenguajes  i{
            font-size: 45px;
        }
        .aside.frameworks{
            display: flex;
            align-items: center;
        }
        .aside .frameworks h3{
            text-align: center;

        }
  /*seteo de footer*/  
.pie{
    background: linear-gradient(#023e8a,#0000);
    display: flex;
    justify-content: center;
    border-radius: 30px;
    margin-bottom: 15px;
}
h2{
    background: transparent;
}

/*seteo del contenido de los articulos*/
.contenido-articulo{
    display: flex;
    min-width: 150px;
    flex-flow: column nowrap;
    margin: 20px ; 
    align-items: center;
}
    .contenido-articulo img{
        width: 290px;
        height: 250px;
        object-fit: fill;
    }
.contenido-articulo button{
    padding: 10px;
    border-radius: 35px;
    margin: 20px;
    
}
.links-nav{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 5px;
}
    .links-nav ul a{
        text-decoration: none;
        font-size: 25px;
        color: #000;
        padding: 15px;
    }

/*responsive settings*/
@media all and (max-width:900px){
    *{
        margin: 5px;
        padding: 5px;
        box-sizing: border-box;
    }
    .father-content{
    }
    .seccion{
        flex-direction: column;
        height: auto;
    }
    .seccion .aside{
        align-items: center;
    }
    .aside{
        display: flex;
        justify-content: center;
        height: auto;
        align-items: center;
        
        
    }
    .aside p{
        display: none;
    }
    .tecnologias{
        display: flex;
        align-items: center;
        height: auto;
        width: auto;
    }
        .lenguajes{
            height: auto;
            width: auto;
        }
        .frameworks{
            height: 88px;
        }
    .articulo{
        width: 80%;
        height: 80%;
        align-items: center;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }


