*{
    margin: 5px;
    padding: 5px;
    margin-left: 9px;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: url(../images/983837.png);
    background-position: center;
    ba
    width: 95vw;
    height: 100vh;
}
.header{
    background-color: #4a3501;
background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23d5a021' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    display: flex;
    flex-flow: column nowrap;
    border-radius: 30px;
}
    .menu{
        background: transparent;
        display: flex;
        height: 100px;
        align-items: center;
    }
        .logo{
            background: transparent;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            justify-content: center;
            flex: 1 1 auto;
            height: 100px;
        }
        .logo img{
            width: 90px;
            background-position: center;
        }
        .nav{
            background: transparent;
            display: flex;
            flex: 5 1 auto;
            justify-content: space-between;   
            align-items: center;        
            height: 40px;
                }
                .nav a{
                    text-decoration: none;
                    font-size: 30px;
                    color: #03045e;
                    padding: 2px;
                    background-color: #D5A021;
                    border-radius: 15px;
                    padding: 10px;
                }
        .social-links{
            background: #D5A021;
            flex: 1 1 auto;
            height: 40px;
            padding: 30px;
        }
        .texto{
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23d5a021' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
            padding: 30px;
            border-radius: 30px;
        }
        h1{
            
            text-align: center;
            font-size: 50px;
            border-radius: 30px;
        }
.seccion{
    background: transparent;
    display: flex;
    height:100vh;
    border-radius: 20px;

    

}
    .articulos{
        background: #023e8a ;
        flex: 2 1 auto;
        display: flex;
        flex-flow: row wrap;
        border-radius: 20px;
    
    }
        .articulo{
            background:;
            display: flex;
            flex-flow: column nowrap;
            flex: 1 1 30%;
            margin-top:70px ;
            align-items: center;
            text-align: center;
        }
            .articulos h2{
                display: flex;
            }
        .navegacion{
            background: #00b4d8;
            margin-top: 15px;
            flex: 1 1 100%;
            height: 70px;
            justify-content: center;

        }
        .aside{
            background-color: #393426;
            display: flex;
            flex-flow: column nowrap;
            background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 20.5V18H0v-2h20v-2H0v-2h20v-2H0V8h20V6H0V4h20V2H0V0h22v20h2V0h2v20h2V0h2v20h2V0h2v20h2V0h2v20h2v2H20v-1.5zM0 20h2v20H0V20zm4 0h2v20H4V20zm4 0h2v20H8V20zm4 0h2v20h-2V20zm4 0h2v20h-2V20zm4 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2zm0 4h20v2H20v-2z' fill='%23efaa04' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
            flex:1 1 auto;
            align-items: center;
            margin-rigth: auto;
            border-radius: 20px; 
        }
            .eduardo-image{
                width: 150px;
                border-radius: 55px;
            }
        .tecnologias{
            background: #EAC435;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            height: 40%;
            margin: 30px;
            width: 70%;
            border-radius: 30px;
        }
        .lenguajes{
            display: flex;
            border-radius: 30px;
        }

.pie{
    background: #000;
    display: flex;
    justify-content: center;

}
h2{
    background: #e76f51;
}
.contenido-articulo{
    display: flex;
    flex-flow: column nowrap;
    margin: 30px ; 
    align-items: center;
}
    .contenido-articulo img{
        width: 290px;
        height: 250px;
        border-radius: 20px;
        box-shadow:inset #000;
    }
.contenido-articulo button{
    padding: 10px;
    border-radius: 35px;
    margin: 20px;
}
.links-nav{
    display: flex;
  
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 5px;
}

/*responsive settings*/
@media all and (max-width:900px){
    *{
        margin: 5px;
        padding: 5px;
        box-sizing: border-box;
    }
    .father-content{
        height: auto;
        width: auto;
    }
    
    .seccion{
        flex-direction: column;
        height: auto;
    }
    .seccion .aside{
        align-items: center;
    }
    .aside{
        display: flex;
        justify-content: center;
        height: auto;
        align-items: center;
        
        
    }
    .aside p{
        display: none;
    }
    .tecnologias{
        display: flex;
        align-items: center;
        height: auto;
        width: auto;
    }
        .lenguajes{
            height: auto;
            width: auto;
        }
        .frameworks{
            height: 88px;
        }
    .articulo{
        height: auto;
        align-items: center;
    }
    .menu{
        flex-direction: column;
        height: auto;
    }

    }

@media all and (max-width:1310px) {
    .aside p{
        display: none;
    }
    .aside{
        height: auto;
    }
    
}